body {
    margin: 0;
    padding: 0;
    background-color: #2d2f2e;
    font-family: Arial;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.btn {
    padding: 5px;
    background-color: red;
    display: inline-block;
    color: white;
    border-radius: 10px;
    min-width: 30px;
    text-align: center;
    border: 2px solid white;
}

.clear {
    clear: both;
}

#wrapper {
    width: 1280px;
    margin: auto;
}

header, main, footer {
    min-height: 50px;
}

header {
}

    header h1 {
        color: white;
        width: 95%;
        margin: 15px auto 15px auto;
    }

main {
    background-color: white;
    border-radius: 10px;
    padding: 15px 0 15px 0;
}

nav {
    background-color: #2d2f2e;
    margin: 0 auto 15px auto;
    min-height: 50px;
    width: 95%;
    border-radius: 10px;
    line-height: 50px;
}

    nav div:nth-child(1) {
        width: 78%;
        float: left;
    }

    nav div:nth-child(2) {
        width: 22%;
        float: left;
    }

        nav div:nth-child(2) input[type=text] {
            height: 23px;
        }

    nav div ul {
        margin: 0;
        list-style-image: url('../Images/Layout/red.png');
        list-style-position: outside;
    }

        nav div ul li {
            float: left;
            width: 20%;
            color: white;
            font-weight: bold;
        }

#mainContainer {
    background-color: #f5f6f8;
    border-radius: 10px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 92%;
    margin: auto;
    min-height: 600px;
}

.categoryItem {
    width: 25.33333%;
    float: left;
    margin: 0 2% 0 2%;
    padding: 10px;
    background-color: #2d2f2e;
    border-radius: 10px;
    height: 200px;
}

    .categoryItem > div:nth-of-type(1) {
        height: 80%;
    }

        .categoryItem > div:nth-of-type(1) img {
            width: 100%;
            max-height: 160px;
        }

    .categoryItem > div:nth-of-type(2) {
        height: 20%;
        text-align: center;
        font-weight: bold;
        color: white;
        position: relative;
    }

        .categoryItem > div:nth-of-type(2) span {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

#productList {
    width: 100%;
    max-width: 100%;
}

    #productList td {
        position: relative;
        height: 100px;
        background-color: #d1d1d3;
    }

    #productList tr:nth-child(odd) td {
        background-color: #e2e3e5;
    }

    #productList tr > td:nth-of-type(1) img {
        width: 95%;
        max-height: 100px;
    }

    #productList tr > td:nth-of-type(2) {
        font-weight: bold;
    }

    #productList tr > td:nth-of-type(3) {
        max-width: 407px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #productList tr > td:nth-of-type(4) {
        text-align: center;
    }

.positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avaliable {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid white;
}

    .avaliable.green {
        background-color: green;
    }

    .avaliable.red {
        background-color: red;
    }

#productPage > div:nth-child(1), #productPage > div:nth-child(2) {
    width: 50%;
    float: left;
}

#productPage > div:nth-child(2) {
    background-color: #000000;
    padding: 25px 0 25px 0;
    border-radius: 10px;
}

    #productPage > div:nth-child(2) img {
        width: 90%;
        display: block;
        margin: auto;
    }

#login {
    width: 80%;
    margin: auto;
}

    #login table {
        width: 60%;
        margin: auto;
    }

        #login table input {
            width: 100%;
        }

    #login a {
        color: cornflowerblue;
    }

#error {
    color: indianred;
}

#comments {
    margin-top: 25px;
}

    #comments > div:first-of-type {
        padding: 10px;
        border: 1px solid #2d2f2e;
        min-height: 100px;
        background-color: #cbcbcb;
        border-radius: 10px;
        margin-bottom: 25px;
    }

        #comments > div:first-of-type textarea {
            width: 100%;
            min-height: 75px;
            border-radius: 10px;
            margin: 0;
        }

        #comments > div:first-of-type input[type=submit] {
            border-radius: 10px;
            padding: 5px;
            background-color: white;
        }

.commentItem {
    background-color: #d1d1d3;
    border: 1px solid #2d2f2e;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px;
}

.commentItem:nth-child(even){
    background-color:#f1f1f1;
}

footer {
    text-align: right;
    color: #787878;
    padding-right: 15px;
    padding-top: 8px;
}
