@model GetRect
@{
    ViewBag.Title = "GetRandom";
}

<h2>GetRandom</h2>


<table>
    <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>@Model.Product.Title</td>
        <td>@Model.Category.Title</td>
        <td>@Model.Comment.Content</td>
    </tr>
</table>