
@{
    ViewBag.Title = "Siden blev ikke fundet";
}

<h2>Siden blev ikke fundet</h2>

<p>
    Der skete en fejl, serveren kunne ikke finde resourcen du bedte om, hvis dette problem bliver ved kontakt da venligst Admin.
    <a href="mailto:admin@softgunzonen.dk">Her</a>
</p>

