
@{
    ViewBag.Title = "Poll";
}

<h2>Poll</h2>

<script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=5cadcbc6e4b01977b1967308"></script><a class="OPP-powered-by" href="http://www.objectplanet.com/opinio/" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">survey solution</div></a>