
@{
    ViewBag.Title = "Der skete en serverfejl";
}

    <h2>Der skete en serverfejl</h2>

<p>
    Der skete en fejl, serveren oplevede en fejl, hvis dette problem bliver ved kontakt da venligst Admin.
    <a href="mailto:admin@softgunzonen.dk">Her</a>
</p>

