@model List<Slider>
@{
    Layout = null;
}




<div>
    <div class="slider">
        @foreach (Slider item in Model)
        {
            <img src="~/Content/Images/Slider/@item.Image" alt="@item.Alt" />
        }
    </div>
</div>