@model MemberVM
@{
    ViewBag.Title = "User Profile";
}

<div id="userProfile">
    <div>
        <h2>
            Bruger Informationer
        </h2>
        <table>
            <tr>
                <td>Email</td>
                <td>@Model.Member.Email</td>
            </tr>
            <tr>
                <td>Fulde Navn</td>
                <td>@Model.Member.Firstname @Model.Member.Lastname</td>
            </tr>

        </table>
    </div>
    <div>
        <h2>Kommentarer</h2>
        <table id="userComments">
            <thead>
                <tr>
                    <th>
                        Kommentar
                    </th>
                    <th>
                        Gå Til Produkt
                    </th>
                    <th>
                        Slet
                    </th>
                </tr>
            </thead>

            @foreach (Comment item in Model.Comments)
            {
                <tr>
                    <td>@item.Content</td>
                    <td><a href="/Home/ShowProduct/@item.ProductID">Vis</a></td>
                    <td><a href="/Home/DeleteComment/@item.ID" onclick="return confirm('Er du sikker?')">Slet</a></td>
                </tr>
            }
        </table>
    </div>
    <a href="/Home/Logout" class="btn">Logout</a>
</div>

