
@{
    ViewBag.Title = "Add Product";
}

<h2>Add Product</h2>

<form action="/Admin/CMS/AddProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12">
            <p>
                Here you can @ViewBag.Title
            </p>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" name="Title" required />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="Price">Price</label>
                <input lang="en" type="number" step="0.01" name="Price" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="SalePrice">Sale Price</label>
                <input lang="en" type="number" step="0.01" name="SalePrice" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="Avaliable">Avaliable</label>
                <input type="hidden" name="Avaliable" value="false" />
                <input type="checkbox" name="Avaliable" checked value="true" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="CategoryID">Category</label>
                <select name="CategoryID">
                    <option value="">Pick Category</option>
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <option value="@item.ID">@item.Title</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea name="Content" class="basic"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="currentImage">Current Image</label>
                <img src="~/Content/Images/Categories/@(Model?.Image)" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="imageFile">Pick new image</label>
                <input type="file" name="imageFile" />
            </div>
        </div>
        <div class="col-12">
            <input type="submit" value="Save" class="pull-left" />
        </div>
    </div>
</form>

@section JS
{
    <script src="~/Areas/Admin/Plugins/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replaceAll(function (textarea, config) {
            if (textarea.className == "advanced") {
                return true;
            }
            else if (textarea.className == "basic") {
                config.removeButtons = 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Strike,Subscript,Superscript,TextColor,BGColor,Format,HorizontalRule,Outdent,Indent,BulletedList,NumberedList';
            }
        });
    </script>
}